html{
    scroll-behavior: smooth;
}

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(61, 36, 3);
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

a:hover{
    background-color: bisque;
    transition-duration: 0.5s;
}

/*Header*/
header{
    padding: 2vh 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: antiquewhite;
    box-shadow: 0 0 10px black;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
}

.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: rgb(34, 3, 3);
    color: white;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.2rem;
}

.action_btn:hover{
    scale: 1.05;
    transition-duration: 0.5s;
}

/* dropdown menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 30px;
}

.dropdown_menu.open{
    height: 305px;
    position: absolute;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responzivnost menu */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    a{
        padding: 0.2rem;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

@media (min-width: 992px) and (max-width: 1050px){
    .action_btn{
        display: none;
    }
}
